[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GORCure"]
	path = GORCure
	url = https://github.com/cran/GORCure
[submodule "ICGOR"]
	path = ICGOR
	url = https://github.com/cran/ICGOR
[submodule "TransModel"]
	path = TransModel
	url = https://github.com/cran/TransModel
